<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<div class="padding" ng-controller="ListaController as lista">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

  <h3> List </h3>

  <super-navigate ng-click="loadData()">
    <button class="button button-block button-positive icon-left super-wand">Load Data</button>
  </super-navigate>

  <div>
	<ul class="list">
		<li ng-repeat="data in lista.data" class="item item-toggle">
			<span>
				{{data.title}}
			</span>
			<label>
				{{data.body}}
			</label>
		</li>
	</ul>
  </div>
</div>