<div class="padding" ng-controller="mcdolanController as ctrl">
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<super-navbar>
		<super-navbar-title>
			MC-Dolan Slow-Foods
		</super-navbar-title>
	</super-navbar>

	<button class="button button-block" ng-click="getLanche()">Atualizar</button>

	<h2> Lanches</h2>
	<div id="divlanch" >
 		<ul class="list">
		    <li class="item item-toggle" ng-repeat="lanche in ctrl.lanches">
		       {{lanche.nome}}
		       <label class="toggle toggle-assertive">
		         <input type="checkbox" ng-model='lanche.selected' value="{{lanche.selected}}">
		         <div class="track">
		           <div class="handle"></div>
		         </div>
		       </label>
		    </li>
		</ul>
	</div>

	<h2>Total 2</h2>
	<span>{{getTotal}}</span>

<!--  	<ul class="list"><li>Bebidas</li></ul>
 	<div id="divbebi">
 		<ul class="list">
		    <li class="item item-toggle" ng-repeat="bebida in ctrl.bebidas">
		       {{bebida.nome}}
		       <label class="toggle toggle-assertive">
		         <input type="checkbox">
		         <div class="track">
		           <div class="handle"></div>
		         </div>
		       </label>
		    </li>
		</ul>
	</div>

 	<ul class="list"><li>Auxiliares</li></ul>
 	<div id="divaux">
 		<ul class="list">
		    <li class="item item-toggle" ng-repeat="aux in ctrl.auxiliares">
		       {{aux.nome}}
		       <label class="toggle toggle-assertive">
		         <input type="checkbox">
		         <div class="track">
		           <div class="handle"></div>
		         </div>
		       </label>
		    </li>
		</ul>
	</div>
 -->


</div>
